:root {
    --primary-color: #4D6B53;
    --secondary-color: #E0E0E0;
    --default-bg-color: white;
    --default-text-color: #424242;
    --default-font: "Lato", sans-serif;
}

body {
    font-family: 'Lato', Arial, sans-serif;
}

.navbar {
    background-color: var(--primary-color);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
}