<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/static/site.css">
    </head>

    <body>
        <ul>
            <li><a class="active" href="{{url_for('home')}}">Home</a></li>
            <li><a href="{{url_for('request')}}">Request</a></li>
            <li><a href="{{url_for('shop')}}">Shopping List</a></li>
        </ul>
















    </body>
</html>